{% extends 'base.html' %}
<title>Achievements</title>
{% block content %}
<div class="achievement-row">
    {% for achievement in achievements %}
    <div class="achievement-class">
        {% if achievement.category == 'Streak Award' %}
        <p class="rarity {% if achievement.rarity == 1 %}common-color{% elif achievement.rarity == 2 %}uncommon-color{% elif achievement.rarity == 3 %}rare-color{% else %}rainbow-gradient{% endif %}">Streak</p> 
        <img src="{{url_for('static',filename='images/Streak award.svg')}}" class="achievement-icon">
        {% elif achievement.category == 'Establish Good Habit' %}
        <p class="rarity {% if achievement.rarity == 1 %}common-color{% elif achievement.rarity == 2 %}uncommon-color{% elif achievement.rarity == 3 %}rare-color{% else %}rainbow-gradient{% endif %}">Type: Good Habit</p> 
        <img src="{{url_for('static',filename='images/Good Habit Achievement.svg')}}" class="achievement-icon">    
        {% elif achievement.category == 'Break Bad Habit' %}
               <p class="rarity {% if achievement.rarity == 1 %}common-color{% elif achievement.rarity == 2 %}uncommon-color{% elif achievement.rarity == 3 %}rare-color{% else %}rainbow-gradient{% endif %}">Type: Bad Habit</p> 
        <img src="{{url_for('static',filename='images/Break Bad Habit Achievement.svg')}}" class="achievement-icon">    
        {% elif achievement.category == 'Total Habits Completed' %}
                <p class="rarity">Type: Total Habits</p>
                <img src="{{url_for('static',filename='images/Consistenacy Award.svg')}}" class="achievement-icon">    
        {% elif achievement.category == 'Custom Theme' %}
            <p class="rarity">Type: Custom Theme</p>
            <img src="{{url_for('static',filename='images/Custom Theme Achievement.svg')}}" class="achievement-icon">    
        {% elif achievement.category == 'Streak Freeze' %}
            <p class="rarity">Type: Streak freeze</p>
            <img src="{{url_for('static',filename='images/Streak-Freeze-Icon.svg')}}" class="achievement-icon">    
        {% elif achievement.category == 'Progression Milestones' %}
            <p class="rarity">Type: Progression</p>
            <img src="{{url_for('static',filename='images/award-svgrepo-com.svg')}}" class="achievement-icon">    
        {% elif achievement.category == 'Total Points Earned' %}
            <p class="rarity">Type: Total Points</p>
        {% else %}
        <p class="rarity">Type: Account</p>
        {% endif %}
        <p>Description: {{ achievement.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
