{% extends 'base.html' %}
{% block content%}
<title> Authenticate</title>
<!-- Page needed to be filled out before a user is authenticated and allowed to use app-->
<div class="body">
    <form method="post">
        {{ form.csrf_token}}
        <p> Please enter all your details</p>
        <br>
        <p> Username</p>
        {{ form.username(class_='logininput')}}
        <br>
        <p> Password</p>
        {{ form.password(class_='logininput')}}
        <br>
        {{ form.submit(class_='submit')}}
    </form>
</div>
{% endblock%}