<link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">
<nav class="hero">
    <ul></ul>
    <h1 class="logo"> <a href="{{url_for('index')}}">Hadit</a></h1>
    {% if current_user.is_authenticated %}
    <ul><li><a href="{{url_for('addhabit')}}">Add habit</a></li></ul>
    <ul><li><a href="{{url_for('dashboard')}}"> Dashboard</a></li></ul>
    <ul><li></li></ul>
    <a href="{{url_for('login')}}"><button class="button"> Info</button></a>
    {% else%}
    <ul><li></li></ul>
    <ul><li></li></ul>
    <ul><li></li></ul>
    <ul><li></li></ul>
    <button class="button"><a href="{{url_for('login')}}">Login</a></button>
    {% endif%}
    <ul></ul>
</nav>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block content%}

{% endblock%}
<footer class="footer">    
  {% if current_user.is_authenticated %}
    <p> Do you want to recieve email reminders</p>
    {% for subfield in form.option %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
    {% endfor %}
  {% else %}
    <p> Sign in to get access to special features like email reminders, streaks, and habit tracking</p>
  {% endif%}
</footer>