{% extends 'base.html' %}
{% block content %}
<title>Dashboard</title>
{% if Habits %}
<!-- If there are habits, display them -->
{% if id == 1 %}
<!-- If it's the first page, display 3 habits -->
<div class="chartMenu">
</div>
<div class="chartCard">
    <div class="chartBox">
        <canvas id="myChart"></canvas>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-matrix@2.0.1/dist/chartjs-chart-matrix.min.js"></script>
<script>
    // date settings
    function isoDayOfWeek(dt) {
        let wd = dt.getDay(); // Get days of the week starting from Sunday to Friday
        wd = (wd + 6) % 7 + 1; // Start the week on Monday and end on Sunday
        return '' + wd; // String of weekdays to be parsed
    }

    // setup calendar for 365 squares for days
    function generateData() {
        const d = new Date();
        const today = new Date(d.getFullYear(), d.getMonth(), d.getDate(), 0, 0, 0, 0);
        const data2 = [];
        const end = today;
        let dt = new Date(new Date().setDate(end.getDate() - 365));
        while (dt <= end) {
            const iso = dt.toISOString().substring(0, 10);
            data2.push({
                x: iso,
                y: isoDayOfWeek(dt),
                d: iso,
                v: Math.random() * 50,
            });
            dt = new Date(dt.setDate(dt.getDate() + 1));
        }
        console.log(data2);
        return data2;
    }

    // setup block
    const data = {
        datasets: [
            {
                label: 'Heat Map',
                data: generateData(),
                backgroundColor(c) {
                    const value = c.dataset.data[c.dataIndex].v;
                    const alpha = (10 + value) / 60;
                    return `rgba(0, 200, 0, ${alpha})`;
                },
                borderColor: 'green',
                borderRadius: 1,
                borderWidth: 1,
                hoverBackgroundColor: 'rgba(255, 26, 104, 0.2)',
                hoverBorderColor: 'rgba(255, 26, 104, 1)',
                width(c) {
                    const a = c.chart.chartArea || {};
                    return (a.right - a.left) / 53 - 1;
                },
                height(c) {
                    const a = c.chart.chartArea || {};
                    return (a.bottom - a.top) / 7 - 1;
                },
            },
        ],
    };

    // scales block
    const scales = {
        y: {
            type: 'time',
            offset: true,
            time: {
                unit: 'day',
                round: 'day',
                isoWeek: 1,
                parser: 'i',
                displayFormats: {
                    day: 'iiiiii',
                },
            },
            reverse: true,
            position: 'right',
            ticks: {
                maxRotation: 0,
                autoSkip: true,
                padding: 1,
                font: {
                    size: 9,
                },
                grid: {
                    display: false,
                },
            },
        },
        x: {
            type: 'time',
            position: 'bottom',
            offset: true,
            time: {
                unit: 'week',
                round: 'week',
                isoWeekday: 1,
                displayFormats: {
                    week: 'MMM dd',
                },
            },
            ticks: {
                maxRotation: 0,
                autoSkip: true,
                font: {
                    size: 9,
                },
            },
            grid: {
                display: false,
                drawBorder: false,
                tickLength: 0,
            },
        },
    };

    // config
    const config = {
        type: 'matrix',
        data,
        options: {
            maintainAspectRatio: false,
            scales,
            plugins: {
                legend: {
                    display: false,
                    drawBorder: false,
                    tickLength: 0,
                },
            },
        },
    };

    // render init block
    const myChart = new Chart(document.getElementById('myChart'), config);

    // Instantly assign Chart.js version
    const chartVersion = document.getElementById('chartVersion');
    chartVersion.innerText = Chart.version;
</script>

{% for Habit in Habits.limit(habits_first_page) %}
<div class="Habit">
    <h1>{{ Habit.name }}</h1>
    <p>Reason: {{ Habit.reason }}</p>
    <p>Recent Streak: {{ user_streak[Habit.id][0] }}</p>
    <p>Last recorded day: {{ user_streak[Habit.id][1] }}</p>
    <form method="post" onsubmit="document.getElementById('{{ form.submit.id }}').disabled = true;">
        {{ form.csrf_token }}
        {{ form.hidden_id(value=Habit.id) }}
        <ul>
            <li>{{ form.submit(class_='button', id='submit-btn') }}</li>
            <li>{{ form.update(class_='button') }}</li>
            <li>{{ form.delete(class_='button') }}</li>
        </ul>
    </form>
</div>
{% endfor %}
<!-- Navigate to next page if one page can't display all habits -->
{% if total_pages > 1 %}
<a href="{{ url_for('dashboard', id=2) }}">Next Page →</a>
{% endif %}
{% else %}
<!-- Code for defining the last page -->
{% if id == total_pages %}
<!-- Query habits that are not already displayed -->
{% for Habit in Habits.offset((id - 2) * habits_per_page + habits_first_page).limit(habits_per_page) %}
<div class="Habit">
    <h1>{{ Habit.name }}</h1>
    <p>Reason: {{ Habit.reason }}</p>
    <p>Recent Streak: {{ user_streak[Habit.id][0] }}</p>
    <p>Last recorded day: {{ user_streak[Habit.id][1] }}</p>
    <form method="post" onsubmit="document.getElementById('{{ form.submit.id }}').disabled = true;">
        {{ form.csrf_token }}
        {{ form.hidden_id(value=Habit.id) }}
        <ul>
            <li>{{ form.submit(class_='button', id='submit-btn') }}</li>
            <li>{{ form.update(class_='button') }}</li>
            <li>{{ form.delete(class_='button') }}</li>
        </ul>
    </form>
</div>
{% endfor %}
<a href="{{ url_for('dashboard', id=id-1) }}" class="previous-page">← Previous page</a>
{% else %}
<!-- Form for each habit. Display user's reasons for habits, name of habits, plus their most recent streak and last recorded day for the habit -->
{% for Habit in Habits.offset((id - 2) * habits_per_page + habits_first_page).limit(habits_per_page) %}
<div class="Habit">
    <h1>{{ Habit.name }}</h1>
    <p>Reason: {{ Habit.reason }}</p>
    <p>Recent Streak: {{ user_streak[Habit.id][0] }}</p>
    <p>Last recorded day: {{ user_streak[Habit.id][1] }}</p>
    <form method="post" onsubmit="document.getElementById('{{ form.submit.id }}').disabled = true;">
        {{ form.csrf_token }}
        {{ form.hidden_id(value=Habit.id) }}
        <ul>
            <li>{{ form.submit(class_='button', id='submit-btn') }}</li>
            <li>{{ form.update(class_='button') }}</li>
            <li>{{ form.delete(class_='button') }}</li>
        </ul>
    </form>
</div>
{% endfor %}
<a href="{{ url_for('dashboard', id=id-1) }}" class="previous-page">← Previous page</a>
<p>{{ id }}</p>
<!-- Shows what page the user is on -->
<a href="{{ url_for('dashboard', id=id+1) }}">Next page →</a>
{% endif %}
{% endif %}
{% else %}
<div class="habit">
    <p style="text-align: center;">No habits currently added. Go to <a href="{{ url_for('addhabit') }}">Add Habit
            page</a> to add one.</p>
</div>
{% endif %}
<script src="{{ url_for('static', filename='js/heatmap.js') }}"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
{% endblock %}