{% extends 'base.html'%}
{% block content%}
<title>FAQ </title>

<!-- Loop to go through FAQ question and create details and summary for them-->

<body>
    {% for question, answer in faqs.items() %}
    <details>
        <summary>{{ question }}</summary>
        <p>{{ answer | safe }}</p>
    </details>
    {% endfor %}
<details>
  <summary>Resources for Mental Health</summary>
  <p>Some resources that I hope will be helpful for people's mental health:</p>
  <ul>
    <li><a href="https://www.depression.org.nz/">Depression</a></li>
    <li><a href="https://anxiety.org.nz/">Anxiety</a></li>
    <li><a href="https://www.ed.org.nz/">Eating Disorders</a></li>
    <li><a href="https://mentalhealth.org.nz/conditions/condition/bipolar-disorder">Bipolar Disorder</a></li>
    <li><a href="https://www.health.govt.nz/your-health/services-and-support/health-care-services/mental-health-services/mental-health-and-wellbeing-where-get-help">Others</a></li>
  </ul>
</details>

<details>
  <summary>Resources for Neurodivergence</summary>
  <p>Some resources that I hope will be useful for neurodivergent people:</p>
  <ul>
    <li><a href="https://autismnz.org.nz/">Autism</a></li>
    <li><a href="https://www.adhd.org.nz/">Attention Deficit Hyperactivity Disorder (ADHD)</a></li>
    <li><a href="https://dyspraxia.org.nz/">Dyspraxia</a></li>
    <li><a href="https://www.dyslexiafoundation.org.nz/">Dyslexia</a></li>
    <li><a href="https://www.iamhope.org.nz/">Other Types of Neurodivergence</a></li>
  </ul>
</details>

</body>
{% endblock%}