{% extends 'base.html' %}
{% block content %}
<title>Info</title>
<div class="userinfo">
    <!-- General information about the users account -->
    <h1>Welcome {{ current_user.username }}</h1>
    <p>Email: {{ current_user.email }}</p>
    <p>Date Joined: {{ current_user.date_joined }}</p>
    <p>Point total: {{ current_user.user_points }}</p>

    <!-- Centered progress bar -->
    <div class="progress-bar-container">
        <div class="progress-bar" style="width: {{ achievement_percentage }}%"></div>
    </div>
    <p>Achievement Percentage: {{ achievement_percentage }}%</p>
    <p><a href="{{ url_for('user_achievement') }}">Achievements</a></p>

    <!-- Rest of the content -->
    <br>

    <!-- Show all options related to users email preferences. Whether they have them enabled or not. And have a form to change them -->
    <tr>
        {% if current_user.email_notifactions %}
        <td>
            <p>You currently have email notifications enabled</p>
        </td>
        {% else %}
        <td>
            <p>You don't have email notifications enabled</p>
        </td>
        {% endif %}

        <p>Do you want email reminders?</p>
        <form method="post">
            {{ form.csrf_token }}
            {% for option in form.options %}
            <td>{{ option }}</td>
            <td>{{ option.label }}</td>
            {% endfor %}
            {{ form.submit(class_='submit') }}
        </form>
    </tr>
    <br>

    <!-- Night theme switcher linked to javascript -->
    <label>Do you want to change theme?</label>
    <img src="/static/images/dark-mode-night-moon-svgrepo-com.svg" id="icon" class="theme-icon">
    <button onclick="window.location.href='{{ url_for('logout') }}'" class="submit">Logout</button>
</div>
<script src="{{ url_for('static', filename='js/themeswitcher.js') }}"></script>
{% endblock %}