{% extends 'base.html'%}
{% block content%}
<div class="userinfo">
     <h1> Welcome {{current_user.username}}</h1>
    <p> Email:{{current_user.email}}</p>
    <p> Date Joined:{{current_user.date_joined}}</p>
    
   <br> 
    <tr>
        <p>Do you want email reminders?</p>
        <form>
            {% for option in form.options %}
                <td>{{ option }}</td>
                <td>{{ option.label }}</td>
            {% endfor %}
            {{form.submit(class_='submit')}}
        </form>
        
    </tr>
<br>
<label> Do you want to change theme?</label><img href="{{url_for('static',filename='images/moon.png')}}" id="icon">
<button onclick="window.location.href='{{ url_for('logout') }}'"  class="submit">Logout</button>
</div>
<script src="{{url_for('static', filename='js/themeswitcher.js')}}"></script>
{% endblock %}