{% extends 'base.html' %}

{% block content%}
<div class="body">

{% if current_user.is_authenticated %}
<div class="userinfo">
     <h1> Welcome {{current_user.username}}</h1>
    <p> Email:{{current_user.email}}</p>
    <p> Date Joined:{{current_user.date_joined}}</p>
    <button><a href="{{url_for('logout')}}"> Logout</a></button>
</div>
{% else %}
<form method="post">
    {{ form.csrf_token}}
    <br>
    <p> Username</p>
    {{ form.username(class_='logininput')}}
    <br>
    <p> Password</p>
    {{ form.password(class_='logininput')}}
    <br>
    {{ form.submit(class_='submit')}}
</form>
<div>
    <a href="{{url_for('register')}}">Don't have an account?</a>
</div>
{% endif%}
</div>
{% endblock %}