{% extends 'base.html' %}
<title> Register </title>
{% block content%}
<div class="body">
    <form method="post">
       {% for field, errors in form.errors.items() %}
    <ul class="error">
      {% for error in errors %}
        <br>
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endfor %} 


        {{form.csrf_token}}
        <p> Enter your username</p>
        {{form.username}}
        <br>
        <p> Enter your email</p>
        {{form.email}}
        <br>
        <br>
        <p> Enter your password</p>
        <br>

        {{form.password1}}
        <br>
        <br>
        <p> Re-enter your password</p>
        <br>

        {{form.password2}}
        <br>
        <div class="recaptcha">
            {{form.recaptcha}}
        </div>
        <br>
        {{form.register(class_='submit')}}
    </form>

    <a href="{{url_for('login')}}"> Already have an account?</a>
    <br>
</div>
{% endblock %}