{% extends 'base.html'%}

<head>
    <title> Habit Streaks</title>
    <script src="https://cdn.plot.ly/plotly-2.20.0.min.js"></script>
    <script src="{{url_for('static', filename='js/testgraph.js')}}"></script>
</head>
{% block content%}
<details>
    <summary>Test Graph</summary>
    {{ heatmap_html | safe }}
</details>



<details>
    <summary> Habit Table</summary>
    <table>
        <th> {{current_user.id}} Streak</th>
        {% for data in heatmap_data%}
        <tr>
            <td>Streak:{{data.streak}}</td>
            <td> Date:{{data.date}}</td>
        </tr>

        {% endfor%}

    </table>
</details>
{% endblock %}